// NUIG SLURM: 
// normal queue: 16 cpus, ~60GB memory

process {
  container = params.container
  beforeScript = 'module load singularity'
  containerOptions = '-B /data'
  executor='slurm'
  queue='normal'
  clusterOptions ='-c 16 -n 1 -N 1'
  
  withName: star_align{
  queue='highmem'
  memory='60 GB'
  clusterOptions='-c 16 -n 1 -N 1'
  }
  
  withName: find_anchors{
  queue='highmem'
  clusterOptions='-c 16 -n 1 -N 1'
  }
  
  withName: find_circ{
  queue='highmem'
  clusterOptions='-c 16 -n 1 -N 1'
  }
  
  
}
