process {
  container = params.container
  beforeScript = 'module load singularity'
  containerOptions = '-B /data'
  executor='slurm'
  queue='normal'
  clusterOptions ='-c 8 -n 1 -N 1'
  
  cpus = {check_resource(params.cpus * task.attempt)}
  time = {check_resource(24.h * task.attempt)}
  shell = ['/bin/bash', '-euo', 'pipefail']

  errorStrategy = {task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 3
  
  withLabel:cpus_max {
    cpus = {params.max_cpus}
  }
}
