/*
 * -------------------------------------------------
 *  nf-core/circrna Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  container = params.container
  beforeScript = 'module load singularity'
  containerOptions = '-B /data'
  executor='slurm'
  queue='highmem'
  clusterOptions ='-c 16 -n 1 -N 1'

}
